.favorites_container {
	padding: 1rem;
	max-width: 1280px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	text-align: center;
	color:#fbfada;
}
.favoriteEmpty {
	display: flex;
	flex-direction: column;
	justify-content: center;
	svg {
		color: var(--primary-color);
	}
}
