.formOrder {
	padding: 3rem;
	width: 50%;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	label {
		display: flex;
		gap: 20px;
	}
	input {
		width: 100%;
		background: inherit;
		padding: 10px;
		box-sizing: border-box;
		border: 1px solid white;
	}
	textarea {
		background: inherit;
		padding: 1rem;
		width: 100%;
		border-color: white;
		border-width: 2px;
	}
	input[type='text'],
	input[type='number'],
	textarea {
		box-sizing: border-box;
		color: white;
	}
}

.formGroupFlex {
	display: flex;
}
