.orderContainer {
	display: flex;
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
}
.formGroup,
.formGroupFlex {
	padding: 10px 0;
}
.formOrder {
	padding: 2rem;
	margin: 20px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	label {
		display: flex;
		gap: 20px;
	}
	input {
		width: 100%;
		background: inherit;
		padding: 10px;
		box-sizing: border-box;
		border: 1px solid white;
		border-radius: 10px;
	}
	textarea {
		background: inherit;
		padding: 1rem;
		width: 100%;
		border-color: white;
		border-width: 2px;
	}
	input[type='text'],
	input[type='number'],
	textarea {
		box-sizing: border-box;
		color: white;
	}
}

.formGroupFlex {
	display: flex;
	:nth-child(2) {
		margin-right: 10px;
	}
}
.summaryList {
	width: 50%;
}
.summaryBlock {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.summary {
	font-weight: 600;
	display: flex;
	justify-content: space-between;
}
.btnContainer {
	display: flex;
	justify-content: center;
	button {
		background: var(--primary-color);
		color: white;
		padding: 1rem;
	}
	button:hover {
		background: var(--primary-color-hover);
	}
}
