.basket_container {
	background: rgb(164, 158, 158);
	header {
		background: none;
		color: black;
		padding: 2rem;
	}
}
.deleteBlock {
	display: flex;
	padding: 1rem;
	justify-content: end;
	button {
		background: none;
	}
}
hr {
	color: black;
}
.cartFooter {
	background: none;
	align-items: center;
	justify-content: center;
	display: flex;
	gap: 30px;
	h4 {
		color: black;
	}
}
.cartTotal {
	margin-top: 1rem;
}

.btnBuy {
	padding: 1rem;
	background-color: red;
	color: white;
}
.btnDelete {
	svg:hover {
		color: red;
	}
}
