.cartHeader {
	display: flex;
	flex-direction: column;
	gap: 20px;
	color: #FBFADA;
}
.basket_container {
	color: #FBFADA;

	header {
		background: none;
		padding: 1rem 0;
	}
}
.deleteBlock {
	padding: 1rem 0;
	display: flex;
	justify-content: start;
	button {
		background: none;
	}
}
.btnDelete {
	color: white;
}

.cartFooter {
	background: none;
	align-items: center;
	justify-content: center;
	display: flex;
	gap: 30px;
}
.cartTotal {
	margin-top: 1rem;
}

h4 {
	a {
		color: white;
		text-decoration: underline;
	}
}
