.foodItem {
	display: grid;
	grid-template-columns: 50px repeat(4, 250px);
	gap: 30px;
	padding: 10px;
	img {
		max-width: 300px;
		height: auto;
	}
	.checkbox {
		width: 15px;
		height: 15px;
	}
}
.foodInfo {
	display: flex;
	flex-direction: column;
}

.quantityBlock {
	margin: auto;
	font-size: 20px;
	button:disabled {
		background-color: rgb(240, 240, 240, 0.5);
		color: rgba(16, 16, 16, 0.5);
	}
}
.quantityBtn {
	cursor: pointer;
	font-size: 20px;
	padding: 5px 12px;
	width: 40px;
	box-sizing: border-box;
	border-radius: 0;
	border: none;
	outline: none;
}

.quantityNum {
	text-align: center;
	width: 50px;
	font-size: 20px;
	padding: 4px 10px;
	border-radius: 0;
	outline: none;
}
