// .modal_container {
// 	position: absolute;
// 	top: 100%;
// 	right: 0;
// 	width: 20%;
// 	background: black;
// 	z-index: 10;
// 	display: flex;
// 	justify-content: center;
// 	border-radius: 20px;
// 	flex-direction: column;
// }

// .modal {
// 	display: flex;
// 	background: none;
// 	width: 80vw;
// 	max-width: 400px;
// 	padding: 2rem 1rem;
// 	text-align: center;
// }
.cartFooter {
	background: black;
}
.cart-total {
	display: flex;
	justify-content: space-between;
	margin-top: 1rem;
}
.clearBtn {
	width: 50%;
}
