.food_item {
	display: flex;
	flex-direction: column;
	gap: 15px;
	img {
		width: 400px;
		display: block;
		height: auto;
	}
}
.actions {
	display: flex;
	gap: 40px;
	justify-content: center;
	button {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 10px;
		width: 100%;
		padding: 1rem;
	}
}

.btnBuy {
	color: white;
	background-color: var(--primary-color);
}
.btnBuy:hover {
	background-color: var(--primary-color-hover);
}

.btnFavorite {
	background: #ffffff99;
	color: var(--primary-color);
}
.btnFavorite:hover {
	svg {
		color: red;
	}
}
