.layout {
	color: #FBFADA;
}
.food_container {
	height: 100%;
	padding: 30px 0;
	max-width: 1200px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
	justify-content: center;
	text-align: center;
}
