ul {
	margin: 0;
	padding: 3rem;
	display: flex;
	list-style: none;
	justify-content: space-between;
	li {
		display: flex;
		gap: 30px;
		svg:hover {
			color: red;
		}
		a {
			color: white;
			position: relative;
		}
	}
}

.header {
	position: sticky;
	top: 0;
	width: 100%;
	background: black;
	color: white;
}
.cartIndicator {
	background: red;
	border-radius: 8px;
	color: #fff;
	height: 16px;
	line-height: 17px;
	padding: 1px 8px;
	position: absolute;
	left: 1.3rem;
	top: -5px;
}
