.headerList {
	margin: 0;
	padding: 20px;
	display: flex;
	list-style: none;
	justify-content: space-between;
	li {
		display: flex;
		gap: 30px;
		a {
			color: inherit;
			position: relative;
			cursor: pointer;
		}
	}
}

.headerMenu {
	position: sticky;
	top: 0;
	width: 100%;
	background: #12372a;
	color: #fbfada;
}

.indicator {
	background: red;
	border-radius: 8px;
	color: #fff;
	height: 16px;
	line-height: 12px;
	padding: 2px 8px;
	position: absolute;
	left: 26px;
	top: -16px;
}
