@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
	font-family: 'Roboto', sans-serif;
	line-height: 1.5;
	font-weight: 400;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	--primary-color: rgb(201, 35, 35);
	--primary-color-hover: rgb(227, 42, 42);
}

button {
	display: inline-block;
	padding: 8px 10px;
	font-weight: bold;
	text-align: center;
	border-radius: 8px;
	border: 1px solid transparent;
	cursor: pointer;
}
body {
	margin: 0;
}
h1,
h2,
h3,
h4 {
	margin: 0;
	text-align: center;
	color: inherit;
}
input {
	box-sizing: border-box;
	border: 1px solid white;
}

a,
a:active {
	text-decoration: none;
	color: inherit;
}
section {
	background: rgb(164, 158, 158);
	padding: 2rem;
}
.cartItem-enter {
	opacity: 0;
	transform: translateY(-20px);
}

.cartItem-enter-active {
	opacity: 1;
	transform: translateY(0);
	transition:
		opacity 300ms,
		transform 300ms;
}

.cartItem-exit {
	opacity: 1;
	transform: translateY(0);
}

.cartItem-exit-active {
	opacity: 1;
}
input[type='number']:focus,
input[type='text']:focus,
input[type='tel']:focus {
	border-color: red;
	outline: none; /* Убираем стандартный контур при фокусе */
}
textarea:focus {
	border-color: red;
	outline: none;
}
